*{
  font-family:Arial, Helvetica, sans-serif;
}

h1
{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  width:60%;
}

h2
{
  margin-top:10px;
}

.line {
  fill: none;
  stroke-width: 3.5px;
}

.axis--x path {
  display: none;
}

.mainContainer
{
  padding-left:14%;
  margin-top:30px;
  display:relative;
  padding-bottom:50px;
}


#barContainer, #lineContainer{
  width:700px;
  float:left;
  margin-right:30px;
}

.panelContainer
{
  margin-bottom:30px;
  border:0px solid black;
  padding-top:10px;
  background:#dfdfdf;
  border-radius:10px;
}


.svg{
  float:left;
  margin-bottom:10px;
  border:0px solid black;
}

.colorPie
{
  width:20px;
  height:20px;
  margin-right:5px;
  border-radius:50%;
  border:0px;
  margin-top:10px;
  
}

.colorPie:hover
{
  cursor:pointer;
}

.criterionLabel
{
  height:40px;
  width:180px;
  margin-top:-24px;
  margin-left:25px;
  border:0px solid black;

}

.blockHeader
{
  margin-left:15px;
}

.axisLabel
{
  color:white;
}


#errorLight
{
  width:50px;
  height:50px;
  border-radius:50%;
  border:0px solid black;
  margin-top:5px;
  background-color:#4a0000;
}

#mainForm
{
  margin-top:30px;
  width:300px;
}

.form-control:focus {
  border: 1px #222087 solid;
  border-radius: 0px;
}


.cinput
{
  border-radius:0px !important;
  width:70% !important;
}

.clabel
{
  float:left;
  font-size:20px;
}

#selectionForm
{
}

.cform
{
  padding-bottom:10px;
  padding-left:10px;
  width:300px;
  margin-top:10px;
}

table
{
  color:#004884;
}

.tdLabel
{
  width:300px;
  margin-top:10px;
}

tr
{
  border-bottom:1px solid #eee;
}

td
{
  margin-top:0px;
  padding-bottom:30px;
  vertical-align: top;
}

.alert
{
  display:none;
  width:300px;
  margin-top:10px;
}


